/* body */
div.bodyBox{
    display: flex;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3%;
    background-color: #E5F0FF;
    height: 90%;
}

/* sidebar area (변수 연산자 제어문 ...) */
div.sidebar{
    background-color: white;
    border: 1px solid #C3CCD9;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
div.sidebar ol{
    list-style-type: none; 
    margin: 0;
    padding-left: 0;
}
div.sidebar ol li{
    color:#fff;
    text-align: center;
    background-color: #855CD6;
    cursor: pointer;
    width: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C3CCD9;
}
div.sidebar ol li[id="first_script_menu"]{ /* 첫번째 메뉴 */
    border-top-left-radius: 16px;
}
div.sidebar ol li.script_menu_variable{ /* 선택된 메뉴 (추후 수정필요)*/
    color:#855CD6;
    background-color: #fff;
}

/* code block button area (만약, 변수, 출력 ...) */
div.left{
    float: left;
    background-color: white;
    width: 10%;
    overflow: scroll;
    direction:rtl;
    border: 1px solid #C3CCD9;
    border-left: none;
    padding-right: 3px;
}
div.left::-webkit-scrollbar{
    width: 0.5vw;
}

/* code block script area */
div.middle{
    float: left;
    border: 1px solid #C3CCD9;
    border-left: none;
    width: 59%;
}
div.code_screen{
    overflow: auto;
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 92%;
    margin : 0.5% 1% 1% 1%;
}
div.code_screen.dragging>* {
    pointer-events: none; /* 드래그 중인 경우 자식 요소에 대한 이벤트를 무시 */
}

/* script & problem area */
div.right{
    float: left;
    border: 1px solid #C3CCD9;
    border-left: none;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 30%;
}
div.right div{
    margin: 1%; 
    background-color: white; 
    width: 98%; height: 99%;
}
div.translated_code_screen{
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
