body{
    overflow-x: hidden;
}

div.header{
    background-color: #855CD6;
    display: flex;
    height: 6%;
    width: 100%;
    align-items: center;
}
div.header_title{
    font-weight: bold;
    color: #fff;
    text-align: left;
    width: 15%;
}
div.header_title a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
div.header_title a:hover{
    background-color: #652dd4;
}
div.header_menu{
    display: flex;
    width: 60%;
}
div.header_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.header_menu ul li{
    border-right: 1px dashed #fff;
    float: left;
}
div.header_menu ul li[id="first_menu"]{
    border-left: 1px dashed #fff;
}
div.header_menu ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.header_menu ul li a:hover{
    background-color: #652dd4;
}
div.header_myinfo{
    width: 30%;
}
div.header_myinfo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
div.header_myinfo ul li{
    border-left: 1px dashed #fff;
    float: left;
}
div.header_myinfo ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div.header_myinfo a:hover{
    background-color: #652dd4;
}


div.bodyBox{
    display: flex;
    padding-right: 5px;
    padding-top: 3%;
    background-color: #E5F0FF;
    height: 90%;
}

div.sidebar{
    width: 2%;
    background-color: #855CD6;
}

div.left{
    float: left;
    background-color: white;
    width: 10%;
    overflow: scroll;
    direction:rtl;
    border-bottom: 1px solid #C3CCD9;
    border-top: 1px solid #C3CCD9;
    border-right: 1px solid #C3CCD9;
    padding-right: 3px;
}
div.left::-webkit-scrollbar{
    width: 0.5vw;
}

div.middle{
    float: left;
    border-bottom: 1px solid #C3CCD9;
    border-top: 1px solid #C3CCD9;
    border-right: 1px solid #C3CCD9;
    width: 59%;
}

div.right{
    float: left;
    border-bottom: 1px solid #C3CCD9;
    border-top: 1px solid #C3CCD9;
    border-right: 1px solid #C3CCD9;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 30%;
}

div.right div{
    margin: 1%; 
    background-color: white; 
    width: 98%; height: 48%;
}
div.rightboard1{
    border-top-right-radius: 16px;
}
div.rightboard2{
    border-bottom-right-radius: 16px;
}

div.code_screen{
    overflow: auto;
    background-color: rgb(255, 255, 255);
    width: 98%;
    height: 92%;
    margin : 0.5% 1% 1% 1%;
}
div.code_screen.dragging>* {
    pointer-events: none; /* 드래그 중인 경우 자식 요소에 대한 이벤트를 무시 */
}
li.button{
    background-color: #855CD6;
    color:#fff;
    text-align: center;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
button.enter{
    background-color: #855CD6;
    color:white;
    border:none;
    height: 4.5%;
    width: 10%;
    font-size: 100%;
    float: right;
    margin-right: 1%;
    border-radius: 10px;
}
span.conding_contents{
    cursor: pointer;
    text-align: center;
    width: 50%;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid;
    border-radius: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}
span.result_conding_contents{
    font-weight: bold;
}
ol.script{
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
li.button.dragging {
    opacity: 0.5;
}
span.conding_contents.select{
    opacity: 1;
}

div.mouse_right{
    cursor: pointer;
    background-color: black;
    width: 100px;
    height: 20px;
    text-align: center;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-radius: 10px;
    opacity: 0.5;
}

input.code_text{
    cursor: pointer;
    opacity: 5;
    margin-left: 2%;
    width: 20%;
}

#input_screen {
    width: 30%;
    height: 70%;
    margin-left: 35%;
    margin-top: 7%;
    position: absolute;
    background-color: rgb(137, 130, 130);
    font-weight: bold;
    text-align: center;
    font-size: 200%;
}

#modal_screen1 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
#modal_screen2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(171, 162, 162, 0.7);
}

#input_texting{
    width: 80%;
    height: 70%;
    overflow: auto;
    font-size: 100%;
    resize: none;
}
button.click_text{
    font-weight: bold;
    margin-right: 25%;
    margin-top: 5%;
    border-radius: 10px;
    float: right;
    width: 10%;
    height: 6%;
}
section.size{
    text-align: center;
}